
<% form_for(@article) do |f| %>
<%= f.error_messages %>

<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :url %><br />
  <%= f.text_field :url %>
</p>
<p>
  <%= f.label :author %><br />
  <%= f.text_field :author %>
</p>


<p>
  <%= f.submit @article.new_record? ? 'Create' :'Update' %>
</p>
  <% end %>

<% unless @article.new_record? %>
    <%= button_to "Delete", @article, :confirm => 'Are you sure?', :method => :delete %>

    <p> There are versions: <%= @article.versions.size %></p>
    <ul>
    <% @article.versions.each do |version| %>
       <li><%= version.display_name %></li> 
    <% end %>
    </ul>

<% form_for([@article, @article.article_tags.build]) do |f| %>
 <%= f.hidden_field :article_id %>
 <%= f.collection_select(:version_id, Version.all, :id, :display_name, options ={:prompt => "Select a version"}) %>

 <%= f.submit 'Add' %>

<% end %>
<% end %>